<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>

      <% list.errors.full_messages.each do |error| %>
     <%= js add_gritter(error, :image=> :error, title: "FRIENDLY TASK", sticky: false, time: 3500) %>
      <% end %>

  <% end %>

<div class="form-top">

  <div class="form-group">

    <%= form.label :list_type %>
    <%= form.collection_select(:list_type_id, ListType.all, :id, :category,
                              {
                                selected: list.list_type_id,
                                include_blank: true,
                              }
    ) %>
  </div>


  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_area :title, id: :list_title, cols: 30, rows: 1, class: 'myclass' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :list_description, cols: 30, rows: 2, class: 'myclass' %>
  </div>

<hr>

  <div>
<%= form.fields_for :list_items do |items_form| %>
      <%= render 'list_item_fields', f: items_form %>
   </div>
<% end %> 

<br>
<center>
<button type="button" class="btn btn-primary">
  <%= link_to_add_association "Add Another Item to List", form, :list_items, :class => "btn" %>
</button> 
<br>
<br>
<br>

   <button type="button" class= 'btn btn-success'> 
   <%= form.submit  "Create/Update Your List" , :class =>'btn btn-success'%>
   </button>
<% end %>

</center>
<br>
<br>
<br>
<div>