<p id="notice"><%= notice %></p>

<% if current_user.present?%>


<div class="form-top">
<p>
  <strong>
   Category:&nbsp;&nbsp;
  <%= @list&.list_type&.category %>
  </strong>

</p>
<hr>


<div style="color:orange;font-size: 13pt;">
  Title:  <%= @list.title %>
  <br>


  Description:  <%= @list.description %>
</div>

<hr>

  <p> Items on List:  <%= @list.list_items.count %> </p>





<div class ="items">

<% @list.list_items.each do |i| %>
   <%#= check_box_tag "list_id[]", @list.id%>
   - <%= i.item%>

   <%#= link_to i.status, list_items_toggle_status_path(@list_item) %>

<br>

   <br><br>

    <% end %>


   <%#=submit_tag "Mark Complete" %>
</div>

<%= params[:action]%>
<br>
<br>
</div>








<center>

<hr>
<%= link_to list_types_path do %>
 <%= fa_icon 'caret-left'%>&nbsp; Back to All lists
 &nbsp;
 <%= fa_icon 'list'%>
<%end%>


&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<%= link_to  edit_list_path(@list) do %>
  <%= fa_icon 'fab edit fa-7x'%>&nbsp; Click to Edit items
    <%end%>
<hr>

<%#= link_to , method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <%#= fa_icon 'trash'%><!-- &nbsp;   -->
              <%#end%> 

  <%= link_to list_path(@list), method: :delete, data: { confirm: "Whoah- slow your roll! You sure?" } do %>
     <%= fa_icon 'trash'%>&nbsp; <%="Delete '#{@list.title}' List"%>
    <%end%>
</center>




<%end%>
