<p id="notice"><%= notice %></p>

<% if current_user.present?%>

<p>
  <strong>
    List type:
  <%= @list&.list_type&.category %>
  </strong>
</p>
<hr>
<br>

<div style="color:orange">
  <%= @list.title %>
  <br>
  <%= @list.description %>
</div>
<br>


  <p> Items on List: </p>
  <br>
<div class ="items">

<% @list.list_items.each do |i| %>&nbsp;&nbsp;
   
    <%= i.item %><br>
    <% end %>
</div>

<br>
<br>
<%= link_to  edit_list_path(@list) do %>
            <%= fa_icon 'fab edit fa-7x'%>&nbsp; Edit item on List
            <%end%>
<br>
<br>
<%= link_to list_types_path do %>
 <%= fa_icon 'caret-left'%>&nbsp; Back to All lists
 &nbsp;
 <%= fa_icon 'list'%>
<%end%>


<%end%>