<p id="notice"><%= notice %></p>

<% if current_user.present?%>


<div class="form-top">
<p>
  <strong>
   Category:&nbsp;
  <%= @list&.list_type&.category %>
  </strong>
</p>
<hr>


<div style="color:orange">
  Title:  <%= @list.title %>
  <br>


  Description:  <%= @list.description %>
</div>

<hr>

  <p> Items on List:  <%= @list.list_items.count %> </p>

<div class ="items">

<% @list.list_items.each do |i| %>
   

   - <%= i.item %><br><br>
    <% end %>
</div>

<br>
<br>

<center>

<hr>
<%= link_to list_types_path do %>
 <%= fa_icon 'caret-left'%>&nbsp; Back to All lists
 &nbsp;
 <%= fa_icon 'list'%>
<%end%>


&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<%= link_to  edit_list_path(@list) do %>
  <%= fa_icon 'fab edit fa-7x'%>&nbsp; Click to Edit items
    <%end%>
<hr>

</center>




<%end%>

</div>