<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :team_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :team_description %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.text_field :due, id: :team_due %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.text_field :hours, id: :team_hours %>
  </div>

  <div class="field">
    <%= form.label :percent %>
    <%= form.text_field :percent, id: :team_percent %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :team_image %>
  </div>

  <div class="field">
    <%= form.label :other %>
    <%= form.text_field :other, id: :team_other %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
