<p id="notice"><%= notice %></p>

<h1>Team Projects</h1>
<br>

<hr>

<%= link_to  new_team_path do %>
&nbsp;&nbsp;&nbsp;<%= fa_icon 'plus-square'%>&nbsp;New Team Project
<%end%> 
<hr>
<br>
<div class= 'row'>
    <% @teams.each do |team| %>
      <div class= 'col-sm-6 col-md-4 col-lg-3 centered'>
          
          <%= link_to team do %>
            <div class ='div6'>
              <%= team.title.titleize %><br>
          <%end%>
              <%= team.description %>
              <br>
              <hr>
        <!--         <td><%#= team.due %>
                <%#= team.hours %>
                <%#= team.percent %>
                <%#= team.image %>
                <%#= team.other %> -->

              <%= link_to  edit_team_path(team) do %>
              <%= fa_icon 'fab edit fa-7x'%>&nbsp; 
              <%end%>

              &nbsp;&nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;&nbsp; 

              <%= link_to  team, method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <%= fa_icon 'trash'%>&nbsp;  
              <%end%>

            </div>
      </div>
    <% end %>
</div>




