<center>
  <div class='nav'>
      <%= link_to 'Home', pages_home_path %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Your Dashboard', pages_dashboard_path %> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Settings', pages_settings_path%> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'About', pages_about_path%> &nbsp;&nbsp;&nbsp;&nbsp;
      <%#= link_to 'My Lists', lists_path%> <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
      <%= link_to 'My Lists', list_types_path%> &nbsp;&nbsp;&nbsp;&nbsp;
      
      <%= link_to 'Team Tasks',  teams_path%> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Chores',  chores_path%> &nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</center>
  <br>
  <br>