<%= form_with(model: list_type, local: true) do |form| %>
   <% if list_type.errors.any? %>

      <% list_type.errors.full_messages.each do |error| %>
     <%= js add_gritter(error, :image=> :error, title: "FRIENDLY TASK", sticky: false, time: 3500) %>
      <% end %>

  <% end %>

  <div class="field">
    <%= form.label :category, "Category New" %>
    <%= form.text_field :category, id: :list_type_category %>
  </div>
<br>
 <hr>
       <button type="button" class= 'btn btn-success'> 
   <%= form.submit  "Creat Category" , :class =>'btn btn-success'%>
   </button>
<% end %>
<br>
<br>