<%= form_with(model: list_type, local: true) do |form| %>
  <% if list_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_type.errors.count, "error") %> prohibited this list_type from being saved:</h2>

      <ul>
      <% list_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :list_type_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
