<p id="notice"><%= notice %></p>


<center><h4>Your Lists</h4>

<div class="category_header"> Keep you lists organized by Category</div>

<br>


    <p> STEP 1: Click "Create a New Category" to create the categories that fit your life ie; groceries, school, packing, home projects, etc.</p>
    <p> STEP 2:  Click on "Create a New List" and organize that list into one of the customs categories you just created.</p>
   



<% if current_user.present?%>

<hr>

<%= link_to  new_list_type_path do %> 

&nbsp;&nbsp;&nbsp;<%= fa_icon 'plus-square'%>&nbsp;Create a New Category
<%end%> 

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<%= link_to  new_list_path do %> 
 
&nbsp;&nbsp;<%= fa_icon 'plus-square'%>&nbsp;Create A New List
<%end%> 
</center>
<hr>
<br>

<div class="space-index">
<div class="d-flex justify-content-center">
<div class= 'row center'>
   
    <% @list_types.each do |list_type| %>
 
        <%= link_to list_type do %>
          <div class = "div5">
            <%= list_type.category.titleize %><br>
            <%=list_type.lists.count%>
      
            <hr>

            <%= link_to  edit_list_type_path(list_type) do %> 
            <%= fa_icon 'fab edit fa-7x'%>&nbsp; 
            <%end%>

            &nbsp;&nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;&nbsp;    

            <%= link_to  list_type, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= fa_icon 'trash'%>&nbsp;  
            <%end%>

     
   
      </div>
        <% end %>
    <% end %>
</div>
</div>

<br>
<br>



<%end%>
