<p id="notice"><%= notice %></p>
<div class= 'container'>

<center><h3>Your Lists</h3>

<h5> Keep you lists organized by Category</h5>
</center>
<br>

 
    <ol> Easy as 1..2..3</ol>
    <ol> First,  click "Create a New Category" to create the categories that fit your life(ie; groceries, school, packing, home projects, etc</ol>
    <ol>Second,  Click on "Create a New List" and place that list to one of the customs categories you just created</ol>
   
 <br>
<br>

<% if current_user.present?%>

<hr>

<%= link_to  new_list_type_path do %> 

&nbsp;&nbsp;&nbsp;<%= fa_icon 'plus-square'%>&nbsp;Create a New Category
<%end%> 

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<%= link_to  new_list_path do %> 
 
&nbsp;&nbsp;<%= fa_icon 'plus-square'%>&nbsp;Create A New List
<%end%> 

<hr>
<br>

<div class= 'row'>
    <% @list_types.each do |list_type| %>

      <div class= 'col-sm-6 col-md-4 col-lg-2 centered'>
        
        <%= link_to list_type do %>
          <div class = "div5">
            <%= list_type.category.titleize %>
      
            <hr>

            <%= link_to  edit_list_type_path(list_type) do %> 
            <%= fa_icon 'fab edit fa-7x'%>&nbsp; 
            <%end%>

            &nbsp;&nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;&nbsp;    

            <%= link_to  list_type, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= fa_icon 'trash'%>&nbsp;  
            <%end%>

          </div>
   
      </div>
        <% end %>

    <% end %>
</div>
<br>
<br>
</div>


<%end%>
