<p id="notice"><%= notice %></p>

<% if current_user.present?%>

  <center>
  
  <div class="category_header">
   
    <%= @list_type.category.upcase %>
  
  </div>

<hr>

<%= link_to list_types_path do %>
 <%= fa_icon 'caret-left'%>&nbsp; Back to All lists
 &nbsp;
 <%= fa_icon 'list'%>

<%end%>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<%= link_to  new_list_path do %> 
 
&nbsp;&nbsp;<%= fa_icon 'plus-square'%>&nbsp;Create A New List
<%end%> 

<hr>

<br>




<% @lists.each do |l| %>
<div class="div6">
<%= link_to  l do %> 
<%= l.title %><br>
<%= l.description %>


<%#= link_to 'View List', l %> <!-- &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; -->
<%#= link_to l, method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <%#= fa_icon 'trash'%><!-- &nbsp;   -->
              <%#end%> 
</div>
<br>
</div>
<%end%>
<%end %>


<%end %>


</center>