<p id="notice"><%= notice %></p>


  <center><h3> <%= @list_type.category.upcase %></h3></center>

<%= link_to 'Back to All lists', list_types_path %><br>
<br>

<% @lists.each do |l| %>
<div class="div6">
<%= l.title %><br>
<%= l.description %>
<br>
<br>
<%= link_to 'View List', l %> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
<%= link_to l, method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <%= fa_icon 'trash'%>&nbsp;  
              <%end%> 

</div>
<br>
<br>



<%end %>